@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
header{
    background-color:  cornflowerblue;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav img{
    display: flex;
    justify-content: flex-end;
    width: 150px;
}
nav a{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    font-size: 19px;
    color: azure;
    font-family: "Raleway", sans-serif;
}
nav a:hover{
    text-decoration: underline;
}
main{
    background-color: cornsilk;
}
body{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}
footer{
    font-size: 12px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: cornflowerblue;
}
.cosme {
    margin: 20px;
    width: 200px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 10px #000000;
    font-family: "Raleway", sans-serif ;
    background-color: rgb(0, 0, 0);
    margin-left: 40px;
    margin-right: 40px;
}
.cosme img{
    width: 100%;
    height: 60%;
}
.info{
    padding:20px;
}
.info h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.cosme h2{
    font-size: 15px;
    color: white;
}
.tarjeta{
    display: flex;
    justify-content:space-evenly;
}
.cosme:hover{
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
}
.text h1{
    font-family:"Raleway", sans-serif ;
    text-align: center;
}
.text h2{
    text-align: center;
}
.eslog img{
    display: flex;
    width: 400px;
    align-items: center;
}
.eslog p{
    font-family:"Raleway", sans-serif  ;
    text-align: center;
}
.courses {
    padding: 30px;
}
.infocursos img{
    width: 225px;
    float: left;
    margin-right: 30px;
}
.infocursos {
    overflow: auto;
    margin-bottom: 30px;
}
